{
   
    "kotak": {
        "consumer_key": "YOUR_CONSUMER_KEY",
        "mobile_number": "YOUR_MOBILE_NUMBER",
        "ucc": "YOUR_UCC",
        "mpin": "YOUR_MPIN",
        "totp_secret": "YOUR_TOTP_SECRET"
        "db_path":"E:/tp/"
    }
}
